/* Imports */
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) (format('truetype'))
}

@font-face {
    font-family: 'Circular-std';
    src: url(../fonts/circular-std-medium-500.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/circular-std-medium-500.ttf) format('truetype');
}

@font-face {
    font-family: 'AvenirLTP';
    src: url(../fonts/AvenirLTProMedium.otf) format('opentype');
}

/* HTML */

html{
    width: 100vw;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Header */

.nav-header{
    width: 100%;
    background-color: #00B598;
    padding: 0.5em 10%;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Circular-std';
}

.nav-header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-socialmedia ul{
    display: flex;
    gap: 1em;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}

.currency-div-wrapper{
    display: flex;
    gap: 1em;
}

.nav-header ul, .currency-div-wrapper{
    padding: 0.2em 0;
}

.currency-div{
    display: flex;  
    gap: 1.25em;
    box-sizing: border-box;
}

.nav-header li, .nav-header span, .nav-header a{
    text-align: center;
    color: white;
    text-decoration: none;
}

.currency-showmore{
    background: none;
    color: white;
    border: none;
    padding: 0%;
    margin-right: 0.33em;
}

/* Main */

main{
    width: 80%;
    margin: 0 auto;
}

section{
    margin-top: 5%;
}

/* Main Header \ Header do Main */

.main-header-logo{
    background-color: #00887E;
    color: #00887E;
    width: 123px;
    margin-right: 40px;
    border-radius: 2em;
    padding: 0 3px;
}

.main-header-logo img{
    width: 123px;
    display: inline-block;
    vertical-align: middle;
}

.main-header{
    padding: 11px 0;
    font-family: 'AvenirLTP';
}

.main-header-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}


/* Search Bar */

.main-header-search{
    display: flex;
    border: 1px #D3D3D3 solid;
    border-radius: 100px;
    height: fit-content;
    padding: 0.3em 3em 0.3em 1em;  
}

.icon-search{
    color: #00B598;
    margin-right: .3em ;
}

.main-header-search a{
    text-decoration: none;
}

.main-header-search input{
    height: fit-content;
    border: none;
}

.main-header-search input:focus{
    outline: none;
}

/* Main Header Nav */

.main-header-nav{
    width: 100%;
}

.main-header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 0 1em;
}

.main-header-nav li:nth-child(1) a{
    color: #00B598;
    text-transform: uppercase;
}

.main-header-nav ul a{
    color: black;
    text-decoration: none;
}

.icon-menu{
    margin-right: .3em;
}

/* Main News Section */

.main-news-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

/* Grid emplacements para os childs, tirando do Big*/

.main-news-wrapper .small-article:nth-child(2){
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.main-news-wrapper .small-article:nth-child(3){
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.main-news-wrapper .medium-article:nth-child(4){
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

/* Estilização dos Títulos */

h2{
    font-family: 'AvenirLTP';
    font-size: 40px;
    font-weight: bold;

}

 /* Estilização dos articles */ 

 section article{
    font-family: 'AvenirLTP';
    border-radius: 20px;
}

.medium-article-category, .malt-article-category, .big-article-category{
    font-family: 'Proxima Nova';
    font-weight: bold;
    text-transform: uppercase;
}

.big-article{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 100%), url(/Assets/img/Article-Imgs/Water-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    grid-row: span 2;
    grid-column: span 2;
    color: white;
    height: 340px;
}

.big-article-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.big-article-category{
    display: inline-block;
    color: #00B598;
    font-family: 'Proxima Nova';
    font-weight: bold;
    margin-left: 10%;
    text-transform: uppercase;
}

.big-article h3{
    margin: 2% 0 2% 10%;
    font-size: 30px;
}

.article-subtitle{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
}

.big-article-wrapper p{
    margin: 0;
}

.big-article ul{
    padding: 0%;
    margin-left: 10%;
    list-style-position: inside;
}

.big-article li{
    margin-bottom: 2%;
}

.small-article{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Tec-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.small-article-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.2em;
    box-sizing: border-box;
}

.small-subtitle{
    width: 100%;
    margin: 0 10%;
}

.small-subtitle span, .small-subtitle p{
    font-size: 10px;
}

.small-article h3{
    font-size: 16px;
    margin: 0 10% 2%;
}

.medium-article-wrapper{
    display: flex;
    color: black;
    gap: 1em;
    height: 162.5px;
}

.medium-article-img{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Plaza-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 20px;
}

.medium-article-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 0.4em;
}

.subtitle-light{
    color: #00B598;
    font-size: 10px;
    margin-top: 1em;
}

.medium-article-box h3{
    font-size: 17px;
    margin: 0 5%;
}

.medium-article-box p{
    font-size: 11px;
    margin: 0 5%;
}

.medium-alt-wrapper{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 0;
}

.medium-alt-img{
    width: 220px;
    height: 150px;
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Xmas-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.medium-alt-box{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.malt-article-category{
    color: #FBB160;
    font-size: 11px;
    margin: 0%;
    text-transform: uppercase;
}

.subtitle-malt{
    color: #626262;
    margin: 0;
}

.medium-alt-article h3{
    font-size: 17px;
    margin: 0;
}

.medium-alt-article p{
    margin: 0;
}

/* Estilização das Divs auxiliares / extras / de Ajuste */

.sec-news-section{
    width: 100%;
    margin: 2em 0;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    box-sizing: border-box;
}

.weather-box{
    color: #00887E;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    font-family: 'AvenirLTP';
    width: 50%;
}

.weather-box h3{
    color: #00887E;
    margin: 1em 0 0.5em 1em;
}

.weather-box h3:not([exepcion]){
    color: black;
    margin: 0;
}

.weather-box-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-box-now{
    display: flex;
    gap: 1em;
    align-items: center;
}

.weather-logo i{
    display: inline-block;
    font-size: 40px;
    color: #00887E;
}

.weather-now span{
    font-size: 38px;
    color: #00887E;
    font-weight: bold;
}

.weather-now-minmax span, .weather-box-prevision span{
    font-size: 14px;
    color: black;
    font-weight: normal;
}

.weather-now-minmax span:last-child, .prevision-box-lower span:last-child{
    font-weight: bold;
}

.weather-box-prevision{
    display: flex;
    align-items: center;
    gap: 1em;
}

.prevision-box-upper span{
    font-size: 24px;
    margin-left: 12px;
}

/* Seção das notícias Mais Lidas */

.more-read-section h2{
    color: #DEDEDE;
    font-size: 40px;
}

.more-read-wrapper{
    display: flex;
    justify-content: space-between;
}

.more-read-news{
    font-family: 'AvenirLTP';
}

.more-read-news .big-article-category{
    margin: 0;
    text-transform: uppercase;
}

.more-read-news h3{
    font-size: 17px;
}

.article-fineline{
    font-size: 11px;
}

/* Amazonas / Local News Section */

.local-news-section h2{
    font-size: 40px;
    color: #FBB160;
}

.local-news-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
}

.local-news-section .medium-alt-article{
    grid-column: span 2;
    grid-row: span 1;
}

.local-news-section .big-news-box{
    grid-row: span 2;
    grid-column: span 2;
}

.local-news-section .medium-article-alt{
    grid-row: span 2;
    grid-column: span 1;
}

.big-news-box{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/pilot-img.jpg);
    color: white;
}

.big-news-main{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.big-news-box .article-subtitle, .big-news-box h3, .big-news-box span, .big-news-box p{
    margin: 0 0 1% 2%;
}

.big-news-box p{
    margin-left: 0;
    font-size: 10px;
}

.big-news-box span{
    font-size: 10px;
}

.big-news-box h3{
    font-size: 30px;
}

.big-news-main .balt-article-category{
    color: #FBB160;
    font-size: 11px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    text-transform: uppercase;
}

.medium-article-alt .medium-alt-img{
    width: auto;
}

/* Seção do Amazonas to Google */

.amazonas-google-section{
    background-color: #E8E8E8;
    padding: 5%;
}

.amazonas-google-section h2{
    text-align: center;
    color: #005102;
}

.amazonas-google-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.before, .next{
    margin: 0 2%;
}

.amazonas-google-img{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Xmas-img.jpg);
    height: 150px;
    width: 100%;
    border-radius: 20px;
}

.amazonas-google-section i{
    font-size: 31px;
    color: #005102;
}

.amazonas-google-box .article-subtitle{
    color: #005102;
}

.amazonas-google-box h3{
    font-size: 17px;
}

.amazonas-google-box p{
    font-size: 11px;
    color: #626262;
}

/* Seção Tv e Famosos */

.tv-famous-section h2, .tv-famous-section .malt-article-category{
    color: #626262;
}

.tv-famous-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
}

.tv-famous-grid .medium-alt-article{
    grid-row: span 1;
    grid-column: span 2;
}

.tv-famous-grid .survey-box{
    grid-row: span 2 ;
    grid-column: span 1 ;
    background-color: #EDEDED;
    border-radius: 20px;
    height: 100%;
    font-family: 'AvenirLTP';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.survey-box-survey{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.survey-box-survey form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.input-box{
    margin-left: 1em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input-box label{
    text-align: left;
    font-size: 12px;
}

input[type="radio"]{
    appearance: none;
    width: 22px;
    height: 16px;
    border: 0.15em solid #00B598;
    border-radius: 50%;
}

input[type="radio"]:checked{
    background-color: #00B598;
}

input[type="submit"]{
    background: none;
    border: none;
    padding: 0.5em 1.5em;
    background-color: #00B598;
    border-radius: 50px;
    color: white;
}

.survey-box h3{
    font-size: 16px;
}

.survey-box p{
    font-size: 14px;
}

.survey-box:nth-child(3) p{
    font-size: 12px;
}

.mega-sena-result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 11px;
    width: 80%;
    text-align: center;
    color: white;
}

.mega-sena-number{
    grid-row: span 1;
    grid-column: span 1;
    font-size: 20px;
    padding: 14px;
    background-color: #00B598;
    border-radius: 50%;
}

.tv-famous-grid .medium-article-alt{
    grid-row: span 2;
    grid-column: span 1;
}

.tv-famous-grid .medium-article-img{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Plaza-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 150px;
    border-radius: 20px;;
}

.tv-famous-grid .medium-alt-img{
    background-image: linear-gradient(180deg, #00000000 0%, #000000 150%), url(../img/Article-Imgs/Plaza-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    border-radius: 20px;;
}

/* Colunistas e Newsletter */

.info-newsletter-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.colunistas{
    background-color: #EDEDED;
    width: 50%;
}

.colunistas h2{
    margin-left: 1em;
}

.colunistas i{
    font-size: 31px;
}

.colunistas-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colunistas-person{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.person-img{
    display: block;
    width: 108px;
    height: 108px;
    background-color: #FBB160;
    border-radius: 50%;
}

.colunistas-person h3{
    display: inline-block;
    margin: 0;
}

.newsletter-wrapper{
    display: flex;
}

.newsletter-right{
    width: 20%;
}

.newsletter-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 30px;
    padding-right:0 ;
}

.newsletter-left h2{
    font-size: 26px;
    color: #00887E;
    margin: 0;
}

.newsletter-left p{
    margin: 0;
}

.newsletter-left form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.newsletter-left .text-input input{
    background-color: white;
    border: none;
    width: 340px;
    border-radius: 100px;
    height: 34px;
    padding-left: 24px;
}


.input-with-submit{
    display: flex;
    align-items: center;
}

.newsletter-left input[type="submit"]{
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    font-size: 11px;
    background-color: #00887E;
    margin-left: 24px;
}

/* Seção de esportes */

.sport-news-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
}

.sport-news-grid .medium-alt-article{
    grid-row: span 1;
    grid-column: span 2;
}

.sport-news-grid .big-news-box{
    grid-column: span 2;
    grid-row: span 2 ;
}

.sport-news-grid .medium-article-alt{
    grid-column: span 1;
    grid-row: span 2;
}

.sports-news-section h2, .sports-news-section .medium-article-category, .sports-news-section .balt-article-category, .sports-news-section .medium-article-category{
    color: #9B1B22;
}

/* Seção Eplay */

.e-play-section{
    background: transparent linear-gradient(180deg, #00B598 0%, #029C83 100%) 0% 0% no-repeat padding-box;
    opacity: 0.75;
    padding: 25px;
    font-family: 'AvenirLTP';
}

.eplay-news-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.eplay-box{
    background-image:linear-gradient(180deg, #00000000 0%, #000000CC 100%), url(../img/Article-Imgs/pilot-img.jpg);
    width: 220px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.eplay-box span, .eplay-box h3{
    color: white;
}

.eplay-box h3{
    font-size: 16px;
}

.eplay-news-wrapper span{
    font-size: 31px;
    color: white;
}

/* Seção do Webstories */

.webstories-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webstories-news-logo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.webstories-logo h2{
    color: #00B598;
}

.webstories-logo i{
    font-size: 40px;
    color: #00B598;
}

.webstories-main{
    display: flex;
    gap: 1em;
}

.webstories-img-box{
    width: 215px;
    height: 315px;
    background-color: lightcoral;
    color: white;
    font-size: 16px;
    font-family: 'AvenirLTP';
    text-align: center;
    position: relative;
    padding: 24px;
    border-radius: 20px;
}

.webstories-main-carrousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    gap: 1em;
}

.webstories-main-carrousel span{
    font-size: 31px;
    color: #005102;
}

.webstories-img-box p{
    position: absolute;
    bottom: 24px;
    right: 8px;
    margin: 0;
}


.webstories-day-logo span{
    font-family: 'AvenirLTP';
    font-size: 40px;
    font-weight: bold;
    margin-right: 218px;
}

.day-edition-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 363px;
    width: 360px;
}

.magazine-img{
    background-color: blue;
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.access-button-box{
    height: 20%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #00B598;
    display: flex;
    justify-content: center;
    align-items: center;
}

.access-button{
    text-decoration: none;
    display: inline-block;
    border: none;
    background-color: white;
    color: #00B598;
    font-family: 'AvenirLTP';
    font-weight: bold;
    font-size: 16px;
    padding: 0.5em 1.5em;
    border-radius: 20px;

}

 /* Footer */

 footer{
   margin-top: 1em;
   overflow: auto;
   font-family: 'AvenirLTP';
 }

 .footer-wrapper{
    display: flex;
    flex-direction: column;
 }

 .footer-logo{
    width: 100%;
    height: 100px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.footer-wrapper-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00887E;
    color: white;
}

.footer-wrapper-flexbox a{
    text-decoration: none;
    color:white;
}

.footer-copywright{
    margin-left: 100px;
    box-sizing: border-box
}

.footer-nav-ul{
    display: flex;
    gap: 55px;
    list-style-type: none;
    margin-right: 100px;
}